body {
    font-family: sans-serif;
  }
  h1 {
    color: rgb(10, 92, 214);
    font-size: 24px;
    font-weight: 200;
    height: 30px;
    line-height: 26px;
    text-align: left;
    width: 326px;
    margin: 0;
    margin-top: 10px;

  }
  ul {
    margin: 0 0 10px;
    padding: 0;
  }
  li {
    color: #7c7c7c;
    font-size: 16px;
    line-height: 1;
    height: 19;
    list-style: none;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  .d-flex weather-temperature::after {
    display: block;
    clear: both;
    content: "";
    font-size: 64px;
  }

  .weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
  }
  
  .weather-app {
    border: 1px solid #dadde1;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
  }
.overview {
  margin-bottom: 20px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

  .temperature {
    font-weight: 400;
    color: #5c5d61;
    font-size: 48px;
    position: relative;
  }
  .units {
    position: relative;
    top: -34px;
  }
  
  .float-left {
    float: left !important;
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;   
  }
  
  .link-container {
    text-align: center;
    margin: 0 auto;
  }
  